body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    text-align: center;
}
main {
    /* reduced the containers width and keep them in centered */
    max-width: 500px;
    margin: auto;
}
li {
    list-style: none;
}
img {
    
    width: 500px;
    height: auto;
    
}